body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #000, #222);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #ff9800;
}

img {
  width: 90%;
  max-width: 300px;
  border-radius: 12px;
  margin: 15px 0;
}

button {
  background: #ff9800;
  color: black;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}
